/* style.css */
body{
  background: rgb(255,241,180);
  color: pink;
  font-size: 25px;
  font-family: 'Fjalla One', sans-serif;
}

header {
  color: black;
  font-size: 40px;
  font-family: 'Fjalla One', sans-serif;
 } 

h1{
  font-family: 'Fjalla One', sans-serif;
  color: rgb(252,81,117);
  font-weight: lighter;
  font-size: 20px;
}
h2 {
  font-family: 'Fjalla One', sans-serif;
  color: pink;
  font-weight: lighter;
  font-size: 22px;
}
a {
  color: pink;
}
a:hover {
  text-decoration: none;
  color: purple;
}
#about p {
  font-weight: bold;
  font-size: 18px;
  color: purple;
}

.blue-title {
  color:rgb(252,174,81);
  font-size:22px;
}





